.text {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #0b3b3c;
    margin-bottom: 25px;

    &:hover {
        cursor: pointer;
        border: 1px solid #7e0707;
        padding: 8px;
    }
}

.image {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;

    &:hover {
        cursor: pointer;
        border: 1px solid #7e0707;
        margin: 0;
    }
}

.option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.question {
    font-size: 24px;
    text-align: center;
    color: #0b3b3c;
}

