.background {
    background-image: url("/assets/images/hero/BG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
    padding: 160px;
    padding-right: 0;

    @media (max-width: 599px) {
        padding: 20px;
        padding-right: 0;
        // background-size: contain;
        background-position: center left;
    }
    @media (max-width: 959px) {
        padding: 40px;
        padding-right: 100px;
        background-position: bottom left;
    }
}

.nav {
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    display: inline-block;
    background: #7e0707;
    color: #ffffff;
    opacity: 1;
    padding: 16px 32px;
    margin: 5px;
    cursor: pointer;
    border: none;

    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.container {
    padding: 50px 0 200px 0;
    @media (max-width: 959px) {
        padding: 10px 0 60px 0;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 0;
    max-width: 35%;
    @media (max-width: 959px) {
        max-width: 100%;
    }
}

.lines h1 {
    font-size: 90px;
    line-height: 90px;
    font-weight: 500;
    @media (max-width: 599px) {
        font-size: 52px;
        line-height: 60px;
    }
}

.lines p {
    font-size: 18px;
    line-height: 32px;
    @media (max-width: 599px) {
        font-size: 16px;
    }
}
