.footer {
    background-color: #e8efe9;
    padding: 40px 200px;
    padding-bottom: 0;
    @media (max-width: 599px) {
        padding: 10px;
    }
    @media (max-width: 959px) {
        padding: 10px 20px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 599px) {
        flex-direction: column;
        justify-content: center;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footercol {
    padding: 30px;
    width: 220px;

    p {
        font-size: 16px;
    }

    h4 {
        text-transform: uppercase;
        font-size: 10px;
    }

    h4::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }

    ul {
        list-style: none;
        padding-inline-start: 0;
    }
}

.footercol ul li:not(:last-child) {
    margin-bottom: 16px;
}

.footercol ul li {
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    @media (max-width: 959px) {
        font-size: 14px !important;
    }
}

.footercol ul li a:hover {
    padding-left: 8px;
}

@media (max-width: 959px) {
    .footercol {
        width: 25%;
    }
}
@media (max-width: 599px) {
    .footercol {
        width: 50%;
    }
}

.footercol .socials ul li {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease;
    @media (max-width: 959px) {
        margin: auto;
    }
}

.divider {
    border-top: 1px solid #bdcdc5;
    // margin-left: 138px;
    // margin-right: 138px;
}

.copy {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.copy p {
    color: #6d8a83;
    @media (max-width: 599px) {
        font-size: 14px;
    }
}
