.quizContainer {
    background-color: #ffffff;
    opacity: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.btnClose {
    position: absolute;
    background: #7e0707;
    color: #ffffff;
    top: 0;
    right: 120px;
    opacity: 1;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    @media (max-width: 599px) {
        right: 20px;
    }
    @media (max-width: 959px) {
        right: 40px;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quizContent {
    overflow: auto;
    max-height: 480px;
    width: 100%;
    font-size: 12px;
    background: #ffffff;
}

.quizOverview {
    transition: all 0.5s ease;
    position: absolute;
    box-sizing: border-box;
    z-index: 500;
    background-color: #ffffff;
    width: 100%;
    padding: 16px;
    top: 100px;
}

.btn {
    display: inline-block;
    background: #7e0707;
    color: #ffffff;
    opacity: 1;
    border: none;
    padding: 16px 32px;
    margin: 5px;
    cursor: pointer;
    border: none;

    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}
