.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    padding-bottom: 0;

    h2 {
        text-align: center;
        font-size: 40px;
        line-height: 60px;
        font-weight: 500;
    }
}

.row {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    align-items: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 959px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.box1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    @media screen and (max-width: 959px) {
        justify-content: start;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        width: 320px;
    }

    h2 {
        font-size: 24px;
        line-height: 40px;
    }

    h3 {
        position: absolute;
        right: 650px;
        z-index: -2;
        font-weight: bold;
        color: #f3f7f4;
        letter-spacing: 0;
        width: 473px;
        font-size: 470px;
        height: 520px;
        @media screen and (max-width: 959px) {
            display: none;
        }
    }

    h4 {
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        display: block;
        color: #6d8a83;
    }

    p {
        line-height: 30px;
    }
}

.box2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    padding-right: 80px;
    @media screen and (max-width: 959px) {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        width: 320px;
    }

    h2 {
        font-size: 24px;
        line-height: 40px;
        // font-weight: 400;
    }

    h3 {
        position: absolute;
        left: 550px;
        z-index: -2;
        font-weight: bold;
        color: #f3f7f4;
        letter-spacing: 0;
        width: 473px;
        font-size: 470px;
        height: 520px;
        @media screen and (max-width: 959px) {
            display: none;
        }
    }

    h4 {
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        display: block;
        color: #6d8a83;
    }

    p {
        line-height: 30px;
    }
}

.section {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 599px) {
        padding: 20px 0;
    }
}

.img1Container {
    flex: 1;
    margin-left: 60%;

    @media screen and (max-width: 959px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.img1 {
    height: 480px;
    width: 480px;
    object-fit: contain;

    @media screen and (max-width: 959px) {
        width: 100%;
    }
}

.img2Container {
    flex: 1;
    margin-right: 50%;

    @media screen and (max-width: 959px) {
        margin-right: auto;
        margin-left: auto;
        order: 1;
    }
}

.img2 {
    height: 480px;
    width: 480px;
    object-fit: contain;

    @media screen and (max-width: 959px) {
        width: 100%;
        order: 1;
    }
}
