html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #0b3b3c;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
