.container {
    display: flex;
    text-align: center;
    justify-content: center;

    font-size: 48px;
    font-weight: medium;
    color: #0b3b3c;

    p {
        font-size: 24px;
        text-align: center;
        color: #0b3b3c;
    }

    a {
        font-size: 24px;
        color: #7e0707;
        &:hover {
            transition: all 0.5s ease;
            font-weight: 400;
        }
    }
}
